<h1>Editing team</h1><br />

<b>NOTE: </b>Before changing the team name, please consider making a new team instead. 
There are few circumstances in which a team name change is the better of the two options.
If you're not certain what the implications are, please ask somebody before changing the name.

<%= render 'form' %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
