<table border="1">
<tr>
<td>Reasonable Expectation</td>
  <% @tasks.each do |task| %>
    <td><%= task.reasonable_expectation %></td>
  <% end %>
</tr>
<tr>
<td></td>
  <% @tasks.each do |task| %>
    <td><%= task.name %></td>
  <% end %>
</tr>
<% (start_date..end_date).each do |date| %>
  <tr>
    <td><%= date %></td>
    <% @tasks.each do |task| %>
      <td><%= @summed_time_hash[date][task.id] %></td>
    <% end %>
  </tr>
<% end %>
</table>
