<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>


<br /><%= render 'form' %><br />

<div id="performance_board_table">
  <%= render 'table' %>
</div><br />
*Please note that the "Reasonable Expectation" figures shown in this row are the current values 
for the tasks in minutes. The data in the table is calculated based on the reasonable 
expectation for a specific task at the time the entry was made.
