/* header */

.header{
  height: 107px;
  background-color: white;
#logo {
  float: left;
  width: 353px;
  background-image:url('/assets/mde_logo.jpg');
  background-repeat:no-repeat;
  }

.nav-links {
  list-style-type:none;
  float:right;
  margin:0;
  padding:0;

  li {
  display:inline;
  }
  }
}

.notice{
  color: red
}

.error{
  color: red
}

/* body */
.body{
  background-color: white;
}

/* footer */

