<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task_inventory.name %>
</p>


<%= link_to 'Edit', edit_task_inventory_path(@task_inventory) %> |
<%= link_to 'Back', task_inventories_path %>
