<footer class="footer">
  <small>
    <a href= root_path >MDE Tally System</a>
    &copy Mason Dixon Energy, LLC
    <!-- We actually don't have a copyright! -->
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><a href="http://www.mdenergy.com/">MDE Website</a></li>
    </ul>
  </nav>
</footer>
