<header class="header">
    <div id="logo">
    <img src="/assets/mde_logo.jpg" alt="MDE Logo">
    </div>
    <div id="nav-links">
      <%= render 'layouts/nav-links' %>
    </div>
    <div id="menucontainer">
      <%= render 'layouts/menu' unless current_user.nil? || current_user.team.nil? %>
    </div>
</header>
